
$color-primary: #23074D;
$color-secondary: #910988;
$color-tertiary: #F6FDFF;
$color-off-white: #F7F7F7;
$color-white: #FFFFFF;
$color-grey: #C4C4C4;
$color-grey-darker: #858585;

$color-morning: #B8D8EB;
$color-sunny: #F5EA61;
$color-burn: #F7BE00;
$color-sunset: #FF5100;
$color-cherry: #E7004C;
$color-cocktail: #CB007B;
$color-dusk: #23074D;
$color-midnight-black: #060111;

$color-linear-primary: linear-gradient(135deg, #000F9F -0.72%, #00A0DF 100%);
$color-linear-light: linear-gradient(135deg, #96DAEA -0.41%, #FDFDFD 100%);
$color-linear-cocktail-primary: linear-gradient(135deg, #CB007B 1.88%, #000F9F 101.08%);

$box-shadow: 0 0.5rem 1.2rem rgba(0, 15, 159, 0.2);

$border-radius: .5rem;
